*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}


/* .card{
    display: flex;
} */



























/* Footer Styles */
footer{
    position: absolute;
    /* bottom: 20px; */
    /* left: ; */
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
